

.content-volver {
    width: 100%;
    height: 7rem;
    background-color: #cfcfcf;
    display: flex;
    align-items: center;
    text-indent: 2rem;
}

.content-cart {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.metodo {
    width: 8rem;
    height: 3.5rem;
    padding: 1rem;
    background-color: #4c0bc5;
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: .5rem;
    transition: .3s ease;
    cursor: pointer;
}

.metodo:hover {
    background-color: #35068d;
}

.metodo.active {
    background-color: #cc0b1b;
}

.main {
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.card {
    width: 420px;
    min-height: 320px;
    border-radius: 12px;
    background: #fff;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.card__title {
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 20px;
}

.card__form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    column-gap: 16px;
    row-gap: 20px;
}

.field {
    min-width: 100px;
    height: 64px;
    border-radius: 8px;
    border: 1px solid #bbb;
    padding: 0 12px;
}

.field--card {
    grid-column: 1/3;
    grid-row: 1/2;
}

.field--estimate {
    grid-column: 1/2;
    grid-row: 2/3;
}

.field--code {
    grid-column: 2/3;
    grid-row: 2/3;
}

.btn {
    grid-column: 1/3;
}

.agreement {
    font-size: 14px;
    grid-column: 1/3;
    text-align: center;
    color: #888;
    line-height: 20px;
}

.btn-terminos {
    text-decoration: none;
    color: #3498db;
}