

.contain-header {
    background-color: transparent;
    width: 100%;
    height: auto;
}

/* ------------- part 1 ------------- */

.contain-bar-and-buttons {
    background-color: rgb(236, 236, 236);
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: .5rem .5rem 0 .5rem;
    overflow: hidden;
    position: relative;
    z-index: 2;
}

.content-logo {
    background-color: #ccc;
    width: 4.5rem;
    height: 4.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contain-bar-search {
    width: calc(1.5rem + 14.5rem + 5rem);
    height: auto;
    display: flex;
    justify-content: space-between;
}

.contain-bar-search input {
    all: unset;
    width: 14.5rem;
    height: 2.2rem;
    padding: .17rem 0 .17rem .5rem;
    border: 1.99px rgb(185, 181, 181) solid;
    border-radius: .5rem;
    background-color: white;
    font-weight: 400;
}

.btn-buscar {
    all: unset;
    width: 5rem;
    height: calc(2.2rem + .17rem + .17rem);
    text-align: center;
    border: 1px rgb(76, 165, 76) solid;
    border-radius: .5rem;
    color: rgb(92, 197, 92);
    background-color: white;
    font-weight: 600;
    transition: .3s ease;
}

.btn-buscar:hover {
    background-color: rgb(238, 238, 238);
    color: rgb(20, 177, 20);
}

.contain-buttons-sesion {
    width: 16rem;
    height: 2.5rem;
    display: flex;
    justify-content: space-between;
}

/* ------------- part 2 -------------- */

.contain-botones-header {
    background-color: rgb(236, 236, 236);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 .3rem 0;
    position: relative;
}

.btn.carrito {
    width: 10rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 1.5rem;
    background-color: rgb(25, 135, 84);
}

.btn.carrito:hover {
    background-color: rgb(16, 90, 56);
}

.btn.carrito span {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.btn.home:hover,
.btn.ofertas:hover,
.btn.blog:hover,
.btn.contacto:hover {
    border-color: black;
}

/* DISEÑO BOTON CATEGORIA */

.btn.categorias {
    width: 8.2rem;
    height: 2.3rem;
    position: relative;
    z-index: 2;
}

.btn.categorias:hover {
    background-color: rgb(255, 255, 255);
}

.options {
    background-color: #2a2f3b;
    width: 8.2rem;
    height: auto;
    position: absolute;
    margin-top: .3rem;
    border-radius: .3rem;
    overflow: hidden;
    transition: .5s;
    transform: scaleY(var(--btnCategoria));
    transform-origin: top;
    z-index: 2;
}
/* var(--btnCategoria) */
.option {
    cursor: pointer;
    width: inherit;
    height: 2rem;
    color: white;
    transition: .3s ease;
    text-indent: 1rem;
    display: flex;
    align-items: center;
}

.option:hover {
    background-color: #586b99;
}
