


.sec-pedidos {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.table_pedidos {
    width: 70%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
}

table {
    table-layout: fixed;
}

td {
    transition: .3s ease;
}

td:hover {
    background-color: rgb(230, 230, 230);
}



