

.card-perfil {
    background-color: rgb(91, 91, 165);
    width: 40rem;
    height: auto;
    position: absolute;
    left: 50%;
    top: 20%;
    transform: translate(-50%, -20%);
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 1rem;
    overflow: hidden;
}

.header-card-perfil {
    background-color:#dfd337;
    width: 100%;
    height: auto;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.img-card-perfil {
    background-color: blueviolet;
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
}

.titles-card-perfil {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.header-card-perfil a {
    color: rgb(0, 0, 0);
}

.buttons-card-perfil {
    width: auto;
    height: auto;
    display: flex;
    gap: 2rem;
}

.email-card-perfil {
    width: 100%;
    font-size: 1.7rem;
}

.role-card-perfil {
    width: 100%;
}

.body-card-perfil {
    background-color: darkcyan;
    width: calc(100% - 2rem);
    min-height: 8rem;
    padding: 1rem;
    border-radius: .7rem;
}

.footer-card-perfil {
    background-color: rgb(36, 36, 41);
    width: 100%;
    height: 7rem;
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: end;
}
